[submodule "packages/client"]
	path = packages/client
	url = git@github.com:codenights/mix-it-client.git
[submodule "packages/front"]
	path = packages/front
	url = git@github.com:codenights/mix-it-front.git
